*~
conf4j-config/.classpath
conf4j-config/.project
conf4j-config/target/*
conf4j-integration/.classpath
conf4j-integration/target/*
conf4j-integration/.project
conf4j-sample/.classpath
conf4j-sample/.project
conf4j-sample/target/*
conf4j-sample/.settings
conf4j-webapp/.classpath
conf4j-webapp/.project
conf4j-webapp/target/*
conf4j-webapp/.settings
conf4j-base/.classpath
conf4j-base/.project
conf4j-base/target/*
conf4j-base/.settings
conf4j-mojo/.classpath
conf4j-mojo/.project
conf4j-mojo/target/*
conf4j-mojo/.settings
*.iml
*.idea
