*~
*~
conf4j-config/.classpath
conf4j-config/.project
conf4j-integration/.classpath
conf4j-integration/.project
conf4j-service/.classpath
conf4j-service/.project
conf4j-webapp/.classpath
conf4j-webapp/.project
conf4j-base/.classpath
conf4j-base/.project
