*~
conf4j-config/.classpath
conf4j-config/.project
conf4j-config/target/*
conf4j-integration/.classpath
conf4j-integration/target/*
conf4j-integration/.project
conf4j-service/.classpath
conf4j-service/.project
conf4j-service/target/*
conf4j-webapp/.classpath
conf4j-webapp/.project
conf4j-webapp/target/*
conf4j-base/.classpath
conf4j-base/.project
conf4j-base/target/*
conf4j-mojo/.classpath
conf4j-mojo/.project
conf4j-mojo/target/*
*.iml
*.idea

conf4j-base/.settings/
conf4j-mojo/.settings/
conf4j-service/.settings/
conf4j-webapp/.settings/